*{background-color:rgb(172, 158, 158)}

#logo{
      background-position: center;
      background-size: cover;
      background-color:rgb(172, 158, 158);
     width:95%;
     border-bottom: 40px;}
.menu{background-color:rgb(172, 158, 158)
       }
.menu  li { background-color:rgb(172, 158, 158);
      align-items: center;
      display:inline-block;
      padding: 25px;
      margin-left:18% ;
      margin-right:12px ;
      
     }
.menu li a{background-color:rgb(172, 158, 158);
          font-size: 14px;
          color:whitesmoke;
      font-weight: bold;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .menu {border:2px solid whitesmoke;
             border-top: none;
             border-left: none;
             border-right: none;}
      
       
       

